/* Jimmy Red: E3363F */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

:root {
    --jimmyRed: #E3363F;
    --hoverRed: #A02630;
    --selectRed: #AF2A35;
}

*{
    font-family: 'Roboto', sans-serif;
    
}

a, a:hover {
    text-decoration: none;
    color: black;
}


header {
    background-color: var(--jimmyRed);
    text-align: center;
    width: 100%;
}

.button {
    border: none;
    border-radius: 0px;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: lightgrey;
}

.inputBar {
    border: 2px solid lightgrey;
    padding: 3px;
}

#title {
    margin: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: calc(10px + 3vw);
    font-family: 'Roboto Slab', serif;
}



main {
    margin: 0%;
    padding: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

.linkAsButton {
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: auto;
}