/** http://paletton.com/#uid=33g0p0koBLXdQUgjGPXtPHFDdvw **/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #FFB53B;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

a:hover {
    color: white;
    background-color: #FFB53B;
    border-radius: 4px;
    margin: 4px;
}

header {
    background-color: #30D1C5;
    color: white;
    width: 100%;
    height: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    width: 100%;
    height: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    font-size: 50px;
    color: white;
}

main {
    width: auto;
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: left;
    color: #FF6E62;
}

footer {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    text-align: center;
}
