/* http://paletton.com/#uid=73r2o0kzavwkKDqqoz+AvoPFYjr */

@fontface {
    font-family: 'nmsfont';
    font-style: normal;
    src: url(geonms-webfont.ttf) format('truetype');
}

html {
    background-color: #00B252
}

header, .title {
    margin-top: 0px;
}

header {
    height: 50px;
    width: 100%;

    background-color: #FB3800;
}

.title {
    font-size: 50px;
}

.temperature {
    font-family: nmsfont;
    font-size: 50px
}

.location {
    font-family: 'nmsfont';
    font-size: 20px

}
