/* http://paletton.com/#uid=31h0u0kryAdh1L3mpEEz5us-Ann */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-image: url(/project/Weather/pics/cloudsblur.png);
    width: 100%;
}

a {
    text-decoration: none;
}


/* header crap */

header,
.title {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FFCF24;
    width: 100%;
}

header {
    height: 50px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}


/* css for the header links */

.linkTable {
    width: 100%;
    color: white;
    background-color: #FFCF24;
}

.headCol {
    width: 20%;
}

.headLink {
    width: 100%;
}

.headBox {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

.headBox:hover {
    background-color: #BA9100;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 5%;
}


/* main crap */

main {
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0px;
    height: 100%;
    background-color: white;
    opacity: .75;
}

.tempLoc {
    background-color: white;
    opacity: 1;
}

.temperature {
    margin: 0px;
    padding-top: 10%;
    font-size: 100px;
    text-align: center;
}

.location {
    font-size: 20px;
    padding-right: 5%;
    text-align: right;
}

.windDataInfo,
.precipDataInfo {
    text-align: center
}


/* hourly data table */

.hourlyDataTableDiv {
    width: 100%;
    overflow-x: auto;
}

.hourFrame {
    width: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.hourlyDataTable {
    width: 100%;
    text-align: center;
}

.hourlyDataTableTime {
    width: 4%;
    font-weight: bolder;
    border-bottom: 3px;
    border-bottom-color: black;
}

.hourlyDataTableTemp {
    width: inherit;
    font-style: italic;
}


/* Footer crap */

footer {
    bottom: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: white;
    opacity: .75;
}

.footer {
    margin-bottom: 0px;
}


/* Fix for main top spacing with the header */

@media only screen and (max-width: 515px) {
    main {
        margin-top: 58px;
    }
}
