/* http://paletton.com/#uid=31h0u0kryAdh1L3mpEEz5us-Ann */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #0DC4B6;
}

header,
.title {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FFCF24;
    width: 100%;
}

header {
    height: 50px;
}

main {
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0px;
    height: 100%;
    background-color: white;
}

.title {
    font-size: 50px;
    text-align: center;
}

.tempLoc {
    text-align: center;
    background-color: white;
}

.temperature {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 80px
}

.location {
    font-size: 20px;
    margin-right: 5%;
    text-align: right;
}

h2 {
    text-align: center;
    margin-top: 5%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: white
}
